<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notey Note</title>
    <link rel="stylesheet" href="css/styleN.css">
    <link rel="shortcut icon" href="/img/notepad.gif">    
</head>

<body>
    <div class="header">
        <img src="/img/notepad.gif" alt="img1">
        <h1>MyNote</h1>
        <h4>Taking notes is useful and relaxing. <br> Save paper by using this app!</h4>
    </div>
    <div class="core">
        <h2 id="verde">Add A New Note</h2>
        <!-- <input id = "text1" placeholder="Enter your note"> -->
        <div class="ta_wrapper">
            <textarea name="textarea1" id="text2" cols="30" rows="10" placeholder="Enter your note"></textarea>
        </div>
        <br>
        <button onclick="addNote()" id = "btn1">Save Note</button>
    </div>
    <div class="saved_notes_wrapper">
        <div id="saved_notes">
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer_container">
            <h3>Contact me</h3>
            <a href="" class="footer_item">Email</a>
            <a href="">GitHub</a>
        </div>
        <h4>Thanks for popping by!</h4>
    </div>

    <script src="appN.js"></script>

    <p id="demo"></p>

</body>
</html>