* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway Light;
}

a{
    text-decoration: none;
    color: black;
}

/*
:root {
    --a: rgb(179, 194, 147);
    --b: rgb(147, 160, 194);
    --c: rgb(194, 147, 161);
    --d: rgb(147, 194, 186);
}*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    border-bottom: 1px solid black;
    background: linear-gradient(to right, white, rgba(228, 181, 138, 0.623))
}

.header img{
    width: 120px;
    padding: 30px;
}

.header h1{
    position: absolute;
    left: 10%;
}

.header h4 {
    margin-right: 10px;
    font-size: 1.1em;
}

.core {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 2em;
    padding-bottom: 4em;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 60px;*/
    background-image: url(../img/bkg2.jpg);
    margin-bottom: 1em;
}

#verde {
    color:rgb(0, 0, 0);
    padding: 30px;
}

#text2 {
    display: flex;
    height: 150px;
    width: 500px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    outline: antiquewhite;
    background: rgb(253, 253, 253);
    font-size: 1rem;
    text-align: left;
    padding: 10px 20px 7px 20px;
    box-shadow: 1px 1px 1px 1px #3b3b3b;
    overflow: auto;
    }

/*
.focus-visible {
    text-align: left;
}*/

#text2::placeholder {
    text-align: center;
    padding-top:57px;
}

.ta_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn1 {
    color: rgb(0, 0, 0);
    background: rgb(179, 194, 147);
    width: 85px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

#btn1:hover {
    opacity: .8;
    cursor: pointer;
}

#btn2 {
    color: rgb(27, 27, 27);
    background: #feffff;
    width: 85px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#btn2:hover {
    opacity: .8;
    cursor: pointer;
}

.saved_notes_wrapper {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
}

#saved_notes {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

/* overlay */


@media screen and (max-width: 1200px) {
    #saved_notes{
        grid-template-columns: 1fr;
        width: max-content;
        height: auto;
    }
}

.columns {
    display: inline-block;
    width: auto;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
}

.columns:hover {
    cursor: pointer;
}

.note_button_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 15px 0 15px;
}

.note_button_wrapper h3 {
    font-weight:500;
}

.note_itself {
    padding: 20px;
    /*background: rgb(179, 194, 147);*/
    margin: 10px;
    max-width: 250px;
    max-height: 80px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    text-align: left;
}

.note_itself h4 {
    font-weight: lighter;
    color: rgb(0, 0, 0);
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
}

/* cuando toco EDIT NOTE quiero que cambie */

.note_itself.active {
    width: auto;
    height: auto;
    min-width: 200px;
    max-height: 320px;
    overflow: auto;
    overflow-wrap: break-word;
}

.note_itself.active h4 {
    width: auto;
    overflow-wrap: break-word;
    overflow: visible;
    white-space: normal;
    text-overflow:none;
}

.color_selection{
    display: flex;
}

.over{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

 /* .color {
    display: none;
} */

.color.c1, .color.c2, .color.c3, .color.c4{
    border-radius: 100%;
    border: hidden;
    width: 25px;
    height: 25px;
}

.c1{
    background-color: rgb(179, 194, 147);
}
.c2 {
    background-color: rgb(147, 160, 194);
}
.c3 {
    background-color: rgb(194, 147, 161);
}
.c4 {
    background-color: rgb(147, 194, 186);
}

.c1:hover, .c2:hover, .c3:hover, .c4:hover, .over input{
    transform: scale(1.2);
    cursor: pointer;
}

.delete_button{
    font-size: 0.7em;
    position: relative;
    left: 9vw;
    bottom: 4px;
    border-radius: 5px;
    background-color: rgb(238, 160, 160);
    padding: 3px;
}

.footer{
    display: flex;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    background: linear-gradient(to left, white, rgba(228, 181, 138, 0.623));
    margin-top: 85px;
}

.footer_container{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.footer_container a{
    text-decoration: none;
}
.footer_container h3{
    margin-bottom: 10px;
}

.footer h4{
    position: relative;
    left: 36%;
}