<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head')%>

<body>

    <form action="/login" method="POST">
        <% if(locals.errors){%>
            <ul>
                <% for(let i=0; i<errors.length; i++){%>
                    <li>
                        <%errors[i].msg%>
                    </li>
                <%}%>
            </ul>
        <% } %>

        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="remember">Remember me</label>
        <input type="checkbox" name="remember" id="remember">

        <button type="submit">Login</button>
    </form>

</body>

</html>