<!-- Footer -->
<div class="footer">
    <div class="footer_container">
        <h3>Contact me</h3>
        <a href="" class="footer_item">Email</a>
        <a href="">GitHub</a>
    </div>
    <h4>Thanks for popping by!</h4>
</div>