<!-- Header -->
<header class="header">
    <img src="/img/notepad.gif" alt="img1">
    <h1>MyNote</h1>
    
    <!-- only if you're not logged -->
    <% if(!locals.userLogged){%>
        <div class="user_menu">
            <a href="/login">Log in</a>
            <a href="/create">Create user</a>
        </div>
    <%} %>
    <% if(locals.userLogged){%>
        <div class="user_menu">
            <a href="/user">My profile</a>
            <a href="/logout">Log out</a>
        </div>
        
    <%} %>
    

    <h4>Taking notes is useful and relaxing. <br> Save paper by using this app!</h4>
</header>