<!-- Main -->
<main class="core">
    <h2 id="verde">Add A New Note</h2>
    <% if(locals.errors){ %> 
            <p style="color:red"> <%= errors.textarea1.msg %> </p>
        <% } %>
    <form action="/" method="POST" class="ta_wrapper">
        <textarea type="text" name="textarea1" id="text2" cols="30" rows="10" placeholder="Enter your note"></textarea>
        <br>
        <h3>Choose a color</h3>
        <div class="color_selection">
            
            <div class="color c1 over">
                <input type="radio" name="noteColor" id="autoColor" value="rgb(179, 194, 147)">

            </div>
            <div class="color c2 over">
                <input type="radio" name="noteColor" id="autoColor" value="rgb(147, 160, 194)">

            </div>
            <div class="color c3 over">
                <input type="radio" name="noteColor" id="autoColor" value="rgb(194, 147, 161)">

            </div>
            <div class="color c4 over">
                <input type="radio" name="noteColor" id="autoColor" value="rgb(147, 194, 186)">
            </div>
        </div>
        
        <button type="submit" id="btn1" >Save Note <i class="fas fa-pen-alt"></i></button>
    </form>
    <br>
</main>